NEXT_PUBLIC_SUPABASE_URL = 'https://<your-project>.supabase.co'
SUPABASE_SECRET_KEY = 'sb_secret_'
JWT_SECRET = change_me
PORT = 3000
LOG_FILE_PATH = '../../logs/app.log'
LOG_REGION = 'UTC'
LOG_TO_FILE_ENABLED = false
LOG_TO_CONSOLE_ENABLED = true